.card {
  border: 1px solid rgb(255, 0, 0);
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(236, 100, 100, 0.184);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 300px;
  display: inline-block;
}

.card .card-image {
  height: auto;
  border-radius: 50%;
}

.counter-container {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.count-display {
  font-size: 10em;
  margin-top: 0;
  margin-bottom: 50px;
}

.counter-button {
  width: 150px;
  height: 50px;
  font-size: 1.5em;
  font-weight: bold;
  margin: 0px 5px;
  background-color: blueviolet;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.counter-button:hover {
  background-color: rgb(87, 15, 154);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.color-picker-container {
  display: flex;
  flex-direction: column;
  align-items: center;

}

h1 {
  font-size: 3rem;
}

.color-display {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid hsl(0, 0%, 88%);
  border-radius: 25px;
  margin-bottom: 25px;
  transition: 0.3s ease;
}

.color-display p {
  color: hsl(0, 0%, 20%);
  font-size: 2rem;
  text-align: center;
}

label {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

input[type="color"] {
  width: 75px;
  height: 50px;
  padding: 5px;
  border-radius: 10px;
  border: 3px solid rgb(158, 158, 158);
  cursor: pointer;
}

.box {
  border: 3px solid;
  padding: 25px;
}